[package]
name = "ziskos"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
repository = { workspace = true }
categories = { workspace = true }

[dependencies]
lib-c = { workspace = true }

num-bigint = { workspace = true }
num-integer = { workspace = true }
num-traits = { workspace = true }

precompiles-helpers = { workspace = true }

lazy_static = "1.5.0"
static_assertions = "1.1"
rand = "0.8.5"
getrandom = { version = "0.2", features = ["custom"] }
cfg-if = "1.0"
tiny-keccak = { version = "2.0.0", features = ["keccak"] }
serde = { workspace = true, features = ["derive"] }

bincode = { workspace = true }
sha2 = { workspace = true }
fields = { git = "https://github.com/0xPolygonHermez/pil2-proofman.git", branch = "pre-develop-0.16.0", features = [
    "verify",
] }

[target.'cfg(any(zisk_hints, zisk_hints_debug))'.dependencies]
once_cell = "1.21.3"
paste = "1.0"

[target.'cfg(zisk_hints_metrics)'.dependencies]
ctor = "0.2"

[features]
default = []
