[package]
name = "zisk-witness"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
repository = { workspace = true }
categories = { workspace = true }

[dependencies]
executor = { workspace = true }
asm-runner = { workspace = true }
precompiles-hints = { workspace = true }
sm-arith = { workspace = true }
sm-binary = { workspace = true }
sm-main = { workspace = true }
sm-mem = { workspace = true }
mem-common = { workspace = true }
sm-rom = { workspace = true }
sm-frequent-ops = { workspace = true }
data-bus = { workspace = true }
precomp-keccakf = { workspace = true }
precomp-sha256f = { workspace = true }
precomp-poseidon2 = { workspace = true }
precomp-big-int = { workspace = true }
precomp-arith-eq = { workspace = true }
precomp-arith-eq-384 = { workspace = true }
precomp-dma = { workspace = true }
zisk-pil = { workspace = true }
ziskemu = { workspace = true }
zisk-core = { workspace = true }
zisk-common = { workspace = true }

proofman = { workspace = true }
proofman-common = { workspace = true }
proofman-util = { workspace = true }
proofman-macros = { workspace = true }
witness = { workspace = true }
fields = { workspace=true }
pil-std-lib = { workspace = true }
tracing = { workspace = true }

anyhow = { workspace = true }

rayon = { workspace = true }

[features]
default = []
gpu = ["packed"]
packed = []